body{

    background-image: url("../assets/landing.jpg");
    background-size: 100vw;
    background-blend-mode: saturation;
}

.Landing{
    color: white;

}

button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    width: 150px;
    height: 50px;
}