body{

    background-image: url("../assets/landing.jpg");
    background-size: 100vw;
    background-blend-mode: saturation;
    background-repeat: no-repeat;
}

.Landing{
    color: white;
    position: fixed;
    top: 40%;
    left: 50%;
  
    transform: translate(-50%, -50%);
}

button{
    background-color: transparent;
    color:white;
    border: 3px solid black;
    border-color: white;
    border-radius: 1.5rem;
    width: 150px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
}

.formBtn{
    color: black;
    border-color: black;
    margin: auto;
}

